@import url('https://fonts.googleapis.com/css?family=Merriweather|Fira+sans&display=swap');

.App{
 margin: 0 auto;
 color: white;
}

.location{
  text-align: center;
}

/* .card{
  margin:  0 auto;
  background: linear-gradient(to bottom, blue, lightblue );
  width: 200px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
  align-items: center;
  border-radius: 15px;
} */
.city{
  font-family: 'Merriweather', sans-serif;
  font-size: 1.6em ;
}
.country{
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.1rem;
}
.temp
{
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
}

.condition{
  font-family: 'Merriweather', sans-serif;
  font-size: 1.2rem;
}
.icon{
  width: 80px;
}